{% extends 'Base_Template/base.html' %}
{% load static %}
{% block content %}
<section class="vertical-center content-height">
    <div class="block remove-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="account-popup-area signup-popup-box static">
                        <div class="account-popup box-shadow">
							<h3>Reset Done</h3>
							<span class="text-justify" style="text-align: justify;">Your password has been set. You may go ahead and <a href="/login/" class="text-primary">Login in</a> now.</span>
                        </div>
                    </div><!-- SIGNUP POPUP -->
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    section{
        display: flex;
  align-items: center;
    }
    .footeraptaloc{
        margin-left: -10%;
    }
</style>
{% endblock %}
