{% autoescape off %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no"> <!-- disable auto telephone linking in iOS -->

</head>
<body style="padding: 0;margin: 0;display: block;background: #ffffff;-webkit-text-size-adjust: none;-webkit-font-smoothing: antialiased;width: 100%;height: 100%;color: #37302d;font-family: Arial;"
  bgcolor="#ffffff">
  <table cellspacing="0" cellpadding="0" width="100%" align="center" style="">
    <tbody>
      <tr>
        <td>
          <table cellspacing="0" cellpadding="0" width="100%" align="center" style="">
            <tbody>
              <tr>
                <td>
                  <table cellspacing="0" cellpadding="0" width="100%" align="center" style="">
                    <tbody>
                      <tr>
                        <td>
                          <table cellspacing="0" cellpadding="0" width="100%" align="center">
                            <tbody>
                              <tr height="20">
                                <td></td>
                              </tr>
                              <tr>
                                <td align="center" width="100%" style="max-width: 590px; min-width: 300px;">
                                  <table cellspacing="0" cellpadding="0" align="center" width="100%" style="max-width: 590px; min-width: 300px;">
                                    <tbody>
                                      <tr>
                                        <td align="center">
                                          <table cellspacing="0" cellpadding="0" align="center" width="100%" style="max-width: 590px; min-width: 300px;">
                                            <tbody>
                                              <tr height="20">
                                                <td></td>
                                              </tr>
                                              <tr>
                                                <td align="left">
                                                  <div class="macpaw_logo">
                                                    <a href="#" target="_blank">
                                                      <img src="http://aptahr.com//static/static/images/email_image/aptahr.png" alt="AptaHR">
                                                    </a>
                                                  </div>
                                                </td>
                                              </tr>
                                              <tr height="20">
                                                <td></td>
                                              </tr>
                                              <tr>
                                              </tr>
                                            </tbody>
                                          </table>
                                          <table cellspacing="0" cellpadding="0" align="center" width="100%" style="max-width: 590px; min-width: 300px; border-radius: 5px; -webkit-border-radius: 5px;">
                                            <tbody>
                                              <tr>
                                                <td style="padding: 0 0 40px;">
                                                  <table cellspacing="0" cellpadding="0" align="center" width="100%" height="156">
                                                    <tbody>
                                                      <tr>
                                                        <td align="center"><img src="http://aptahr.com//static/static/images/email_image/aptahr_admin_feedback_email.png" alt="AptaHR"></td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td style="padding: 0 39px;">
                                                  <div style="font-family: 'Arial'; font-weight: 600; font-size: 24px; color: #000000; line-height: 29px;">Hello Yogesh Wattamwar,</div>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td style="padding: 18px 39px 23px;">
                                                  <div style="font-family: 'Helvetica Neue', sans-serif; font-weight: 400; font-size: 16px; color: #333333; line-height: 24px;">Below are the details of new feedback request :</div>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td style="padding: 0 39px;">
                                                  <table height="100%" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                      <tr>
                                                        <td colspan="3">
                                                          <p style="color: #000000;font-family: 'Arial';font-weight: 600;margin: 0px;font-size: 15px;line-height: 26px;">Feedback Details</p>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td colspan="3" height="5"></td>
                                                      </tr>
                                                      <tr>
                                                        <td colspan="3" style="border-bottom: 1px solid #eaeaed"></td>
                                                      </tr>
                                                      <tr>
                                                        <td colspan="3" height="5"></td>
                                                      </tr>
                                                      <tr>
                                                        <td width="28%" align="left" valign="middle"><p style="color: #6c757d;font-family: 'Arial';margin: 0px;font-size: 13px;line-height: 26px;">Name </p></td>
                                                        <td width="16" align="center" valign="middle"><p style="color: #6c757d;font-family: 'Arial';font-weight: 600;margin: 0px;font-size: 15px;line-height: 26px;">:</p></td>
                                                        <td align="left" valign="middle"><p style="Margin:0 0 0px 0;font-size:15px;line-height:24px;color:#666666;font-weight:400;font-family: Arial;padding:0px">pranava shinde</p></td>
                                                      </tr>
                                                      <tr>
                                                        <td colspan="3" height="5"></td>
                                                      </tr>
                                                      <tr>
                                                        <td colspan="3" style="border-bottom: 1px solid #eaeaed"></td>
                                                      </tr>
                                                      <tr>
                                                        <td colspan="3" height="5"></td>
                                                      </tr>
                                                      <tr>
                                                        <td width="28%" align="left" valign="middle"><p style="color: #6c757d;font-family: 'Arial';margin: 0px;font-size: 13px;line-height: 26px;">Rating </p></td>
                                                        <td width="16" align="center" valign="middle"><p style="color: #6c757d;font-family: 'Arial';font-weight: 600;margin: 0px;font-size: 15px;line-height: 26px;">:</p></td>
                                                        <td align="left" valign="middle"><p style="Margin:0 0 0px 0;font-size:15px;line-height:24px;color:#666666;font-weight:400;font-family: Arial;padding:0px">5</p></td>
                                                      </tr>
                                                      <tr>
                                                        <td colspan="3" height="5"></td>
                                                      </tr>
                                                      <tr>
                                                        <td colspan="3" style="border-bottom: 1px solid #eaeaed"></td>
                                                      </tr>
                                                      <tr>
                                                        <td colspan="3" height="5"></td>
                                                      </tr>
                                                      <tr>
                                                        <td width="28%" align="left" valign="middle"><p style="color: #6c757d;font-family: 'Arial';margin: 0px;font-size: 13px;line-height: 26px;">Subject </p></td>
                                                        <td width="16" align="center" valign="middle"><p style="color: #6c757d;font-family: 'Arial';font-weight: 600;margin: 0px;font-size: 15px;line-height: 26px;">:</p></td>
                                                        <td align="left" valign="middle"><p style="Margin:0 0 0px 0;font-size:15px;line-height:24px;color:#666666;font-weight:400;font-family: Arial;padding:0px">Suggestion</p></td>
                                                      </tr>
                                                      <tr>
                                                        <td colspan="3" height="5"></td>
                                                      </tr>
                                                      <tr>
                                                        <td colspan="3" style="border-bottom: 1px solid #eaeaed"></td>
                                                      </tr>
                                                      <tr>
                                                        <td colspan="3" height="5"></td>
                                                      </tr>
                                                      <tr>
                                                        <td width="28%" align="left" valign="middle"><p style="color: #6c757d;font-family: 'Arial';margin: 0px;font-size: 13px;line-height: 26px;">Message </p></td>
                                                        <td width="16" align="center" valign="middle"><p style="color: #6c757d;font-family: 'Arial';font-weight: 600;margin: 0px;font-size: 15px;line-height: 26px;">:</p></td>
                                                        <td align="left" valign="middle"><p style="Margin:0 0 0px 0;font-size:15px;line-height:24px;color:#666666;font-weight:400;font-family: Arial;padding:0px">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></td>
                                                      </tr>
                                                      <tr>
                                                        <td colspan="3" height="5"></td>
                                                      </tr>
                                                      <tr>
                                                        <td colspan="3" style="border-bottom: 1px solid #eaeaed"></td>
                                                      </tr>
                                                      <tr>
                                                        <td colspan="3" height="5"></td>
                                                      </tr>
                                                      <tr>
                                                        <td width="28%" align="left" valign="middle"><p style="color: #6c757d;font-family: 'Arial';margin: 0px;font-size: 13px;line-height: 26px;">Email </p></td>
                                                        <td width="16" align="center" valign="middle"><p style="color: #6c757d;font-family: 'Arial';font-weight: 600;margin: 0px;font-size: 15px;line-height: 26px;">:</p></td>
                                                        <td align="left" valign="middle"><p style="Margin:0 0 0px 0;font-size:15px;line-height:24px;color:#666666;font-weight:400;font-family: Arial;padding:0px"><a href="mailto:xyz@gmail.com">yogesh@aptagrim.com</a></p></td>
                                                      </tr>
                                                      <tr>
                                                        <td colspan="3" height="5"></td>
                                                      </tr>
                                                      <tr>
                                                        <td colspan="3" style="border-bottom: 1px solid #eaeaed"></td>
                                                      </tr>
                                                      <tr>
                                                        <td colspan="3" height="5"></td>
                                                      </tr>
                                                      <tr>
                                                        <td colspan="3" height="15"></td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td style="padding: 24px 39px 34px;">
                                                  <div style="font-family: 'Helvetica Neue', sans-serif; font-weight: 400; font-size: 16px; color: #333333; line-height: 24px;">Sincerely,
                                                    <br> <i>Team AptaHR</i>

                                                  </div>
                                                </td>
                                              </tr>

                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr height="20">
                                <td></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
{% endautoescape %}
